body{
    background-color:rgb(224, 255, 255);
    color:rgb (3, 91, 255, o.267);
    margin: 0px;
}


hearder{
    border-bottom:solid 2px rgb(3, 91, 255, 0.267);
    padding: 20px;
    font-size: 32px;
    color: rgb(3, 91, 255, 0.267);
}